{% extends "base.html" %}
{% block content %}
Welcome {{ employee.first_name }} {{ employee.last_name }} (<a href="/logout">logout</a>)
<ul class="nav nav-tabs" data-tabs="tabs">
    <li><a data-toggle="tab" href="#profile">Profile</a></li>
    <li class="active"><a data-toggle="tab" href="#time-entries">Time Entries</a></li>
    <li><a data-toggle="tab" href="#jobs">Jobs</a></li>
</ul>
<div id="tab-content" class="tab-content">
    <div class="tab-pane" id="profile">
        <h1>Profile ({{ employee.staff_id }})</h1>
        <div><b>Name: </b>{{ employee.first_name }} {{ employee.last_name }}</div>
        <div><b>Job Title: </b>{{ employee.job_title }}</div>
        <div><b>Email Address: </b>{{ employee.username }}</div>
    </div>
    <div class="tab-pane active" id="time-entries">
        <h2>Time Entries</h2>
        <h3>Time entries for the period {{ time_entries_start }} - {{ time_entries_end }}</h3>
        {% for day,entry_dict in time_entries_by_day.iteritems %}
        <div id="day-{{ day }}" class="well">
            <h4>{{ day }} (<span id="total_minutes_{{ day }}">{% if entry_dict.total_minutes %}{{ entry_dict.total_minutes }}{% else %}0{% endif %}</span> minutes)</h4>
            <div class="controls">
                <a class="btn btn-primary btn-small add-time-entry" href="#search_job_modal" data-toggle="modal" data-day="{{ day }}">Add Time Entry</a>
            </div>
            {% for entry in entry_dict.time_entries %}
                {% include 'client/partials/time_entry.html' %}
            {% endfor %}
        </div>
        {% empty %}
        <div>Oh Noes! No time entries yet</div>
        {% endfor %}
    </div>
    <div class="tab-pane" id="jobs">
        <h1>Jobs</h1>
        {% for task in job_tasks %}
        <div>
            <h4>{{ task.jobNumberSearchWrapper }}</h4>
            <ul>
                <li>Job Name: {{ task.jobName }}</li>
                <li>Client Name: {{ task.clientName }}</li>
                <li>Task Complete: {{ task.isTaskComplete }}</li>
                <li>Job Id: {{ task.jobId }}</li>
                <li>Task Id: {{ task.id }}</li>
                <li>JobTask Id: {{ task.jobTaskId }}</li>
            </ul>
        </div>
        {% empty %}
        <div>Lucky you! No work booked!</div>
        {% endfor %}
    </div>
    <div id="search_job_modal" aria-labelledby="search_job_title"  class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <a data-dismiss="modal" class="close" href="#">×</a>
            <h3>Search for a Job</h3>
        </div>
        <div class="modal-body">
            <div class="job_number_search">
                <form id="search_job_number" action="{% url 'job_search_ajax' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="job_day" id="job_day" value="" />
                    <input type="text" name="job_number" id="job_number" /> <a id="job_search_btn" class="btn info" href="#">Search</a>
                </form>
                <div id="job_modal_container">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Done</a>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
$("#job_search_btn").click(function(event) {
    event.preventDefault();
    $("#search_job_number").submit();
});

$("#search_job_number").submit(function(event) {
    event.preventDefault();
    var url = $(this).attr("action");
    var payload = $(this).serialize();
        $("#job_modal_container").empty();
    $.post(url, payload, function (data) {
        if (data['job_html_frags'].length === 0) {
            var item_html = "<div>No jobs could be found</div>";
                $("#job_modal_container").append(item_html);
        } else {
            $.each(data['job_html_frags'], function(index, item) {
                $("#job_modal_container").append(item);
            });
            $("a.show_form").click(function(event) {
                event.preventDefault();
                $('.add_time').hide();
                $(this).parent().siblings('.add_time').show();
            });
            $("form.time_entry_form").bind('submit', submitTimeEntryForm);
        }
    }, 'json');
});

$(".add-time-entry").click(function(event) {
    $("input#job_day").val($(this).attr('data-day'));
});

$("#job_update_btn").click(function(event) {
    event.preventDefault();
    $("#update_job_form").submit();
});

function submitTimeEntryForm(event) {
    event.preventDefault();
    var url = $(this).attr("action");
    var payload = $(this).serialize();

    $.post(url, payload, function(data) {
        var minutes = +$("span#total_minutes_" + data.day).html();
        $("#day-" + data.day).append(data.html);
        $("span#total_minutes_" + data.day).html(minutes + +data.minutes);
    }, 'json');
}

$("form.time_entry_form").submit(submitTimeEntryForm);

$("form[name=update_entry_form]").submit(function(event) {
    event.preventDefault();
    var url = $(this).attr("action");
    var payload = $(this).serialize();
        $("#job_update_container").empty();
    $.post(url, payload, function(data) {
        // The addition of '+' at the beginning of the numbers is to ensure they
        // are treated as numbers, not strings.
        var minutes = +$("span#total_minutes_" + data.day).html();
        $("span#total_minutes_" + data.day).html(minutes + +data.minutes);
    }, 'json');
});
</script>
{% endblock %}
